# Ignore everything
*

# But not these files...
!Machine_Learning_A-Z
!data_preprocessing_section_1.ipynb
!simple_linear_regression.ipynb
!multiple_linear_regression.ipynb
!polynomial_regression.ipynb
!regression_template.ipynb


# ...even if they are in subdirectories
!*/

.DS_Store
