# Ignore everything
*

# But not these files...
!Machine_Learning_A-Z
!data_preprocessing_section_1.ipynb
!simple_linear_regression.ipynb
!multiple_linear_regression.ipynb
!polynomial_regression.ipynb
!regression_template.ipynb
!svr.ipynb
!decision_tree_reg.ipynb
!random_forest_reg.ipynb
!logistic_regression.ipynb
!classification_template.ipynb
!knn.ipynb
!svm.ipynb
!kernel_svm.ipynb
!naive_bayes.ipynb
!decision_tree_class.ipynb
!random_forest_class.ipynb
!kmeans.ipynb
!hc.ipynb
!apriori.ipynb

# ...even if they are in subdirectories
!*/

.DS_Store
